.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.avatar1 {
  padding: 5px;
}

.chat_header {
  display: flex;
  padding-left: 30px;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
  padding-left: 25px;
  flex: 1;
  margin-bottom: 5px;
}

.chat_headerInfo > h3 {
  font-weight: 500;
  margin-bottom: 0;
}

.chat_headerInfo > p {
  color: gray;
  margin-top: 0;
}

.chat_body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-position: center;
  background-repeat: repeat;
  padding: 25px;
  overflow: scroll;
}

.chat_body > p {
  margin-top: 0;
}

.chat_message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_name {
  position: absolute;
  top: -18px;
  font-weight: 700;
  font-size: 12px;
}

.chat_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid lightgray;
}

.chat_footer > form {
  flex: 1;
  display: flex;
}

.chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}

.chat_footer > form > button {
  display: none;
}

.chat_footer > .MuiSvgIcon-root {
  padding: 15px;
  color: gray;
}
